footer {
	margin-top:10px;
	text-align: center;
	font-size: 1.2rem;
}

label {
	font-weight: normal;

	> span {
		width:100px;
		display:inline-block;
	}
}

label > input, select, textarea {
	vertical-align: top;
}

section > div, section > form > div {
	margin-top:10px;
}

button {
	margin-right:10px;
}

button:last-child {
	margin-right:0;
}

th {
	text-align:center;
}

.center-text {
	text-align:center;
}
